<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
       http://www.springframework.org/schema/data/neo4j
       http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">

    <context:component-scan base-package="pl.recommendations"/>


    <bean id="graphDatabaseFactory" class="org.neo4j.graphdb.factory.GraphDatabaseFactory">

    </bean>

    <bean id="neo4jConfiguration" factory-bean="graphDatabaseFactory" factory-method="newEmbeddedDatabase">
        <constructor-arg name="path" value="data/db/twdb2"/>
    </bean>

    <neo4j:config base-package="pl.recommendations.db" storeDirectory="data/db/twdb1"/>

    <neo4j:repositories base-package="pl.recommendations"/>

    <!-- freemarker config -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="preferFileSystemAccess" value="false"/>
        <property name="templateLoaderPath" value="classpath:/pl/recommendations/view/"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- TODO: turn on cache when project is done.  -->
        <property name="cache" value="false"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- maxUploadSize in bytes: 15MB -->
        <property name="maxUploadSize" value="15728640"/>
    </bean>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/resources/**" location="classpath:/pl/recommendations/view/"/>
</beans>